watch_file pyproject.toml pixi.lock install/setup.bash
eval "$(pixi shell-hook --change-ps1 false)"
# zsh + direnv makes it so that the hostname displayed in the shell is cleared when leaving the repo folder, unless it
# is unset here
unset HOST
